* {
    font-family: 'UnifrakturMaguntia', cursive;
}

.codeflask, .codeflask.codeflask--has-line-numbers:before, html, body, .fullsize {
    background-color: #f2d7ac !important;
}

.codeflask__textarea {
    color: #f2d7ac !important;
}

.codeflask, .codeflask.codeflask--has-line-numbers:before, .codeflask__lines__line, .codeflask__pre, .codeflask__code, .codeflask__textarea, .token, .codeflask__lines {
    font-size: 25px !important;
    font-family: inherit !important;
}

button {
    margin: 10px 5px;
    font-size: 115%;
}

html, body, a {
    margin: 0;
    padding: 0;
}

.fullsize {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 110% !important;
}

filemanager {
    border-right: 1px solid black;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 249px;
}

contentview {
    border-top: 1px solid black;;
    display: block;
    position: absolute;
    left: 250px;
    top: 50px;
    bottom: 250px;
    right: 0px;
}

toolbar {
    display: block;
    position: absolute;
    left: 250px;
    top: 0px;
    right: 0px;
    height: 50px;
}

console {
    border-top: 1px solid black;;
    display: block;
    position: absolute;
    left: 251px;
    right: 0px;
    height: 197px;
    bottom: 50px;
}

consoleinput {
    border-top: 1px solid black;;
    display: block;
    position: absolute;
    left: 250px;
    right: 0px;
    height: calc(50px - 10px*2);
    bottom: 0px;
}
.console-input-container,#input_console{
    margin: 1px;
    font-size: 105%;
}
#input_console {
    display: inline;
    width: calc(100% - 40px);
}
.token.native {
    color: green;
}
.token.classdef {
    color:teal;
}
.token.comment {
    color:gray;
}
.token.string {
    color: red;
}
.token.keyword {
    color:darkblue;
    font-weight: bold;
}
.token.boolean, .token.keyword2 {
    color: orange;
    font-weight: bold;
}
.token.function {
    color:purple;
}
.token.funccall {
    color: gray;
}